body {
	font-family: sans-serif;
}

header {
	text-align: center;
    height: 1.5em;
    padding-top: 8px;
    margin: 5px;
    color: #05525d;

}
.arrow-prev {
	float: left;
}
.arrow-next {
	float: right;
}

#calendar {
	width: 100%;
	overflow: hidden;	
}

#calendar-wrap {
	padding: 50px;
}

#calendar a {
	color: #8e352e;
	text-decoration: none;
}

#calendar ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

#calendar li {
	display: block;
	float: left;
	width:14.342%;
	padding: 5px;
	box-sizing:border-box;
	border: 1px solid #EFEFEF;
	margin-right: -1px;
	margin-bottom: -1px;
}

#calendar ul.weekdays {
	height: 40px;
	background: #F1F1F1;
}

#calendar ul.weekdays li {
	text-align: center;
	padding: 10px 6px;
	color: #05525D;
	font-size: 16px;
	font-weight: 600;
}

#calendar .days li {
	height: 180px;
	position: relative;

}

#calendar .days li:hover {
	background: #eeeeee;
}

#calendar .date {
    padding: 4px;
    border-radius: 50%;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
}

#calendar .today-date {
	color: #E33;
	box-shadow: 2px 2px 10px 2px rgb(224, 224, 224);
}
#calendar .event {
	clear: both;
	display: block;
	font-size: 13px;
	border-radius: 4px;
	padding: 5px;
	margin-top: 40px;
	margin-bottom: 5px;
	line-height: 14px;
	background: #e4f2f2;
	border: 1px solid #b5dbdc;
	color: #009aaf;
	text-decoration: none;
}

#calendar .event-desc {
	color: #666;
	margin: 3px 0 7px 0;
	text-decoration: none;	
}

#calendar .other-month {
	background: rgba(241, 241, 241, 0.62);
	color: #666;
}
#calendar .endate { 
	right: 0;
    bottom: 0;
    position: absolute;
    padding: 4px;
    color: #666;
    font-size: 0.8em;
}
/* ============================
				Mobile Responsiveness
   ============================*/


@media(max-width: 768px) {

	#calendar .weekdays, #calendar .other-month {
		display: none;
	}

	#calendar li {
		height: auto !important;
		border: 1px solid #EFEFEF;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}

	#calendar .date {
		float: none;
		text-align: left;
		font-size: 1em;
		line-height: inherit;
	}
}